<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AvailableProducts</key>
	<dict>
		<key>MobileWeb</key>
		<dict>
			<key>AppIconImageSettings</key>
			<string>image-theme: 1; image-shape: 3; image-opacity: 1.00; image-top-color: 0.828152895,0.874723434,0.978072762; image-bottom-color: 0.45343709,0.541603744,0.676615536; image-radius: 12,12,12,12; image-border: 0; image-border-color: 0.529399991,0.529399991,0.529399991; image-border-width: 1;</string>
			<key>CYBackwardCompatibleExport</key>
			<false/>
			<key>CYShineVersion</key>
			<integer>2</integer>
			<key>MainCSS</key>
			<string>main.css</string>
			<key>MainHTML</key>
			<string>../index.html</string>
			<key>MainJS</key>
			<string>main.js</string>
			<key>ProductDir</key>
			<string>mobile</string>
			<key>Steps</key>
			<array>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Browser_Step_1_Detail_Mobile</string>
					<key>MainHelp</key>
					<string>Tag(200)</string>
					<key>Required</key>
					<true/>
					<key>Title</key>
					<string>Browser_Step_1_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Browser_Step_2_Detail</string>
					<key>MainHelp</key>
					<string>Tag(230)</string>
					<key>Required</key>
					<true/>
					<key>Title</key>
					<string>Browser_Step_2_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Browser_Step_3_Detail</string>
					<key>MainHelp</key>
					<string>Tag(201)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Browser_Step_3_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Browser_Step_4_Detail</string>
					<key>MainHelp</key>
					<string>Tag(232)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Browser_Step_4_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Browser_Step_5_Detail_Mobile</string>
					<key>MainHelp</key>
					<string>Tag(221)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Browser_Step_5_Title_Mobile</string>
				</dict>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Browser_Step_6_Detail</string>
					<key>MainHelp</key>
					<string>Tag(205)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Browser_Step_6_Title</string>
				</dict>
			</array>
			<key>TemplateIdentifier</key>
			<string>com.apple.Dashcode.template.web.browser</string>
		</dict>
	</dict>
	<key>CYHasSharingStructure</key>
	<true/>
	<key>CYProjectFormatVersion</key>
	<integer>40</integer>
	<key>FeedModels</key>
	<dict>
		<key>3E4309B4-CC06-4096-99D4-89BBF1EDE47C</key>
		<dict>
			<key>sample</key>
			<dict>
				<key>date</key>
				<date>2010-06-02T10:19:59Z</date>
				<key>encoding</key>
				<integer>30</integer>
				<key>fileName</key>
				<string>3E4309B4-CC06-4096-99D4-89BBF1EDE47C</string>
			</dict>
		</dict>
		<key>5B892515-28DA-472F-A44E-511B23240C90</key>
		<dict>
			<key>sample</key>
			<dict/>
		</dict>
		<key>691B40EA-3CD7-42DD-B5A6-6709D6536646</key>
		<dict>
			<key>sample</key>
			<dict>
				<key>date</key>
				<date>2010-05-26T12:23:19Z</date>
				<key>encoding</key>
				<integer>30</integer>
				<key>fileName</key>
				<string>691B40EA-3CD7-42DD-B5A6-6709D6536646</string>
			</dict>
		</dict>
		<key>7027D2FF-EDCB-4F0C-8D1A-493E4A6135F6</key>
		<dict>
			<key>sample</key>
			<dict>
				<key>date</key>
				<date>2010-05-31T12:35:52Z</date>
				<key>encoding</key>
				<integer>30</integer>
				<key>fileName</key>
				<string>7027D2FF-EDCB-4F0C-8D1A-493E4A6135F6</string>
			</dict>
		</dict>
		<key>85CEA569-61E7-4476-88DB-81C1A04BDD07</key>
		<dict>
			<key>sample</key>
			<dict>
				<key>date</key>
				<date>2010-05-31T10:37:05Z</date>
				<key>encoding</key>
				<integer>10</integer>
				<key>fileName</key>
				<string>85CEA569-61E7-4476-88DB-81C1A04BDD07</string>
			</dict>
		</dict>
		<key>8B4BAA08-16DF-4F7A-A260-B3FB2DBDB4C0</key>
		<dict>
			<key>sample</key>
			<dict>
				<key>date</key>
				<date>2010-05-26T12:23:19Z</date>
				<key>encoding</key>
				<integer>30</integer>
				<key>fileName</key>
				<string>8B4BAA08-16DF-4F7A-A260-B3FB2DBDB4C0</string>
			</dict>
		</dict>
		<key>8D6422FD-0C76-4F46-8C3F-C268F5E08038</key>
		<dict>
			<key>sample</key>
			<dict>
				<key>date</key>
				<date>2010-06-28T14:15:11Z</date>
				<key>encoding</key>
				<integer>30</integer>
				<key>fileName</key>
				<string>8D6422FD-0C76-4F46-8C3F-C268F5E08038</string>
			</dict>
		</dict>
		<key>B06DDC96-A2E7-498B-93CE-796E83B58FBB</key>
		<dict>
			<key>sample</key>
			<dict>
				<key>date</key>
				<date>2010-05-31T10:45:55Z</date>
				<key>encoding</key>
				<integer>30</integer>
				<key>fileName</key>
				<string>B06DDC96-A2E7-498B-93CE-796E83B58FBB</string>
			</dict>
		</dict>
		<key>FEA204DA-0200-4512-A484-DDFB3B79A105</key>
		<dict>
			<key>sample</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
